@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400&display=swap');

* {
    box-sizing: border-box;
    list-style: none;
    text-decoration: none;
    font-family: 'Poppins', sans-serif;
    padding: 0;
    margin: 0;
}

body {
    background-color: rgb(163, 79, 79);
}

a {
    color: #fff;
}

.container {
    max-width: 1200px;
    margin: 0 auto;
}

.header {
    background-image: linear-gradient(#00000071, #00000079), url('../image/60ae3e4a98a60.jpeg');
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    min-height: 50vh;
    display: flex;
    flex-direction: column;
    text-align: center;
}

.header h1 {
    text-transform: uppercase;
    color: #eee;
    margin-bottom: 1rem;
}

.navbar {
    background-color: #333;
    width: 100%;
}

.navbar ul {
    list-style: none;
    padding: 1rem 0;
    display: flex;
    justify-content: center;
}

.navbar li {
    margin: 0 15px;
}

.navbar a {
    text-decoration: none;
    color: white;
    font-weight: bold;
}
